.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	min-height: 80px;
	width: 100%;
	background-color: $gray;
	border-top: 1px solid $grayBorder;
	color: $grayFont;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;

	a {
		color: $grayFont;
	}
}